# Bundler and RubyGems
/.bundle
/vendor/gems

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Compiled Ruby and Sass
*.rbc
*.sassc
.sass-cache

# Capybara screenshots
capybara-*.html

# System files
/public/system/*

# Developer configuration and provisioning
.rspec
.env
coverage/
/spec/tmp/*
/.vagrant
/cookbooks
*.DS_Store